body {
	/*background-color: #eceff0;*/
	background-color: #73739a;
}

body,
input {
	font: 1em "Open Sans", sans-serif;
	color: #363639;
}

input {
	background-color: #d9edf7;
}

a {
	text-decoration: none;
	border-bottom: 1px dashed #363639;
}

/* List */
.list {
    background-image: linear-gradient(to bottom, #dff0d8 0px, #c8e5bc 100%);
    background-repeat: repeat-x;
    border-color: #b2dba1;
	margin: 20px auto;
	width: 100%;
	max-width: 500px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 3px 3px 0 rgba(0,0,0, .1);
	box-sizing:border-box;
}

.list .header {
	font-family: "Shadows Into Light Two", cursive;
	margin: 0 0 10px 0;
}

/* Items */

.items {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.items .item.done {
	text-decoration: line-through;
    -moz-text-decoration-color: red;
    -moz-text-decoration-style: double;
}

.items li,
.item-add .input {
	border: 0;
	border-bottom: 1px dashed #ccc;
	padding: 15px 0;
}

.input {
	width: 100%
}

.input:focus {
	outline: none;
}

/* Done  and Delete button */

.done-button {
	display:inline-block;
	font-size: .8em;
	background-color: #f0ad4e;
	color: #363639;
	padding: 3px 6px;
	border: 0;
	opacity: 0.4;
	border-radius: 7px;
}

.delete-button {
	float: right;
	font-size: .8em;
	background-color: #a9dfe1;
	color: #363639;
	padding: 3px 6px;
	border: 0;
	opacity: 0.4;
	border-radius: 7px;
}

.done-button:hover {
	opacity: 1;
	color: #ff7d7d;
}

.delete-button:hover {
	opacity: 1;
	background-color: #ff7d7d;
	color: #fff;
}

.delete-button:hover:after,
.delete-button:hover:before {
	content: "!!";
}

/* Submit button */

.submit {
	background-color: #efefb1;
	padding: 5px 10px;
	border: 1px solid #ddd;
	width: 100%;
	margin-top: 10px;
	box-shadow: 3px 3px 0 #ddd;
}

.submit:hover {
	background-color: #fefedc;
}